
<!--
    Add the appropriate star to the quiz given into the parameter.

     Only the star is only shown if there is a user logged in.
     Depending on the value of the favorite attribute, the star is gray or yellow.
     An onclick is registered to send AJAX requests and repaint the star if OK.
-->

<% if (session.user) { %>

<a id="star<%= quiz.id %>"></a>

<script>
    (function() {
        var state =  <%= !!quiz.favourite %>;
        var userId = <%= session.user.id %>;
        var quizId = <%= quiz.id %>;

        var img = $("#star<%= quiz.id %>");
        var class_ = state ? "icon fa-heart pink pink_hover" : "icon fa-heart pink_hover grey";
        img.toggleClass(class_)
        img.click( function() {
            var request = new XMLHttpRequest();
            var method = state ? "DELETE" : "PUT";
            var url = "/users/" + userId + "/favourites/" + quizId + "?_method=" + method;
            request.open("POST", url);
            request.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            request.onreadystatechange = function() {
                if (request.readyState === 4 && request.status === 200) {
                    img.toggleClass("pink");
                    img.toggleClass("grey");
                    state = !state;
                }
            };
            request.send();
            return false;
        })
    })();
</script>

<% } %>
