<section id="main" class="container">
    <div class="row">
        <div class="col-12">
            <section class="box">
                
                <div class="right">
                    <form method="get" action="<%= url %>">
                        <div class="row">
                            <div class="col-9">
                                <input  type="text" name="search" value="<%= locals.search || '' %>" placeholder="Search ..." autocomplete="off" />
                            </div>
                            <div class="col-3">
                                <input type="submit" value="Search">
                            </div>
                        </div>
                        <% if (session.user) { %>
                            <br/>

                            <div>
                                <input type="checkbox" name="searchfavourites" id="searchfavourites"
                                       value="1" checked >
                                <label for="searchfavourites"><div class="icon fa-heart pink"></div></label>
                            </div>
                        <% } %>

                    </form>
                </div>

                <h1>
                    <%= title || "Questions" %>:
                </h1>

                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    <b>Image</b>
                                </td>
                                <td>
                                    <b>Question</b>
                                </td>
                                <td><b>Topic</b></td>
                                <td><b>Actions</b></td>
                                <td><b>Author</b></td>
                            </tr>
                        </thead>
                        <% for (var i in quizzes) { %>
                        <% var quiz = quizzes[i]; %>
                        <tr>

                            <td>
                                <% var attachment = quiz.attachment; %>
                                <% include ../attachments/_show %>
                            </td>

                            <td>
                                <b><%= quiz.question %></b>
                            </td>
                            <td>
                                <b><%= quiz.topic.topic %></b>
                            </td>
                            <td>
                                <a  class="icon fa-eye grey blue_hover" href="/quizzes/<%= quiz.id %>"></a>
                                <% if (session.user) { %>
                                    <% include ../favourites/_stars.ejs %>
                                    <% if (session.user.isAdmin || session.user.id === quiz.authorId) { %>

                                            <a class="icon fa-pencil grey blue_hover" href="/quizzes/<%= quiz.id %>/edit"></a>

                                            <a class="icon fa-trash grey red_hover" href="/quizzes/<%= quiz.id %>?_method=DELETE"
                                               onClick="return confirm('Delete: <%= quiz.question %>');">
                                                
                                            </a>
                                    <% } %>
                                <% } %>
                            </td>

                            <td><small> <%= quiz.author ? quiz.author.username : "Anonymous" %> </small></td>
                        </tr>
                        <% } %>
                    </table>
                     <% if (locals.paginate_control) { %>
                        <%- paginate_control %>
                    <% } %>
                </div>
                <% if (session.user) { %>
                    <a class="button fit small alt" href="/quizzes/new">Create New Question</a>
                <% } %>
            </section>
        </div>
    </div>
</section>
